.todo-item {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[type="checkbox"] {
  margin-right: 5px;
}

input.item-checkbox+label {
  cursor: pointer;
}

input:checked+label {
  color: gray;
  text-decoration: line-through;
}

.item-value {
  display: flex;
  justify-items: center;
  align-items: center;
}
